// SPDX-FileCopyrightText: 2009-2021 AIM GmbH <info@aim-online.com>
// SPDX-License-Identifier: MIT

// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION AISMART_RC_VERSION_NO
 PRODUCTVERSION AISMART_RC_VERSION_NO
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "AIM GmbH\0"
            VALUE "FileDescription", AISMART_RC_PRODUCT_DESCRIPTION_STRING
			VALUE "FileVersion", SMART_VERSION_STRING_FULL
            VALUE "InternalName", "SMART\0"
            VALUE "LegalCopyright", AISMART_RC_COPYRIGHT_STRING
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "SmartCon.exe\0"
            VALUE "PrivateBuild", AISMART_RC_PRIVATE_BUILD_STRING
            VALUE "ProductName", AISMART_RC_PRODUCT_DESCRIPTION_STRING
			VALUE "ProductVersion", SMART_VERSION_STRING_FULL
            VALUE "SpecialBuild", AISMART_RC_SPECIAL_BUILD_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#endif    // !_MAC

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

